<% provide(:title, 'Contact Us') %>
<% provide(:email, 'peterjeliot@gmail.com') %>
<h1>Contact Us</h1>
<p>
  You can contact Peter at <a href="mailto:<%= yield :email %>"><%= yield :email %></a>
</p>
